.sub-header {
  background-color: #00cfcc;
  height: 46px;
  line-height: 46px;
}

.sub-header ul li {
  display: inline-block;
}

.sub-header ul.left-info li {
  border-left: 1px solid rgba(250,250,250,0.3);
  padding: 0px 20px;
}

.sub-header ul.left-info li:last-child {
  border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.left-info li i {
  margin-right: 10px;
  font-size: 18px;
}

.sub-header ul.left-info li a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.sub-header ul.right-icons {
  float: right;
}

.sub-header ul.right-icons li {
  margin-right: -4px;
  width: 46px;
  display: inline-block;
  text-align: center;
  border-right: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.right-icons li:first-child {
  border-left: 1px solid rgba(250,250,250,0.3);
}

.sub-header ul.right-icons li a {
  color: #fff;
  transition: all 0.3s;
}

.sub-header ul.right-icons li a:hover {
  opacity: 0.75;
}



/* Header Style */
header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  background-color: transparent!important;
  height: 80px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
header .navbar {
  padding: 20px 0px;
}
.background-header .navbar {
  padding: 10px 0px;
}
.background-header {
  top: 0;
  position: fixed;
  background-color: #fff!important;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
}
.background-header .navbar-brand h2 {
  color: #00cfcc!important;
}
.background-header .navbar-nav a.nav-link {
  color: #1e1e1e!important;
}
.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.current,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
  color: #00cfcc!important;
}
.navbar .navbar-brand {
  float: 	left;
  margin-top: 12px;
  outline: none;
}
.navbar .navbar-brand h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.navbar .navbar-brand h2 em {
  font-style: normal;
  font-size: 16px;
}
#navbarResponsive {
  z-index: 999;
}
.navbar-collapse {
  text-align: center;
}
.navbar .navbar-nav .nav-item {
  margin: 0px 15px;
}
.navbar .navbar-nav a.nav-link {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
  transition: all 0.5s;
  margin-top: 5px;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.current,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
  color: #00cfcc;
  border-bottom: 3px solid #00cfcc;
}
.navbar .navbar-toggler-icon {
  background-image: none;
}
.navbar .navbar-toggler {
  border-color: #fff;
  background-color: #fff;
  height: 36px;
  outline: none;
  border-radius: 0px;
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar .navbar-toggler-icon:after {
  content: '\f0c9';
  color: #00cfcc;
  font-size: 18px;
  line-height: 26px;
  font-family: 'FontAwesome';
}
