<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-item">
        <img src="assets/images/Premier%20Omni%20Logo-01.jpg" alt="premier omni logo">
        <br>
        <h4>Premier Omni Limited</h4>
        <p>Engineering Solutions To Drive You Forward</p>
        <ul class="social-icons">
          <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-item">
        <h4>Additional Pages</h4>
        <ul class="menu-list">
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/products">Our Products</a></li>
          <li><a href="/services">Our Services</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-item last-item">
        <h4>Contact Us</h4>
        <div class="contact-form">
          <form id="contact footer-contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                </fieldset>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
