.page-heading {
  text-align: center;
  background-image: url(src/assets/images/about.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0px 150px 0px;
  color: #fff;
}

.more-info {
  margin-top: 60px;
}

.more-info .left-image img {
  width: 100%;
  overflow: hidden;
}

.more-info .more-info-content {
  background-color: #f7f7f7;
}

.about-info .more-info-content {
  background-color: transparent;
}

.about-info .right-content {
  padding: 0px!important;
  margin-right: 30px;
}

.more-info .right-content {
  padding: 45px 45px 45px 30px;
}

.more-info .right-content span {
  text-transform: uppercase;
  font-size: 15px;
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}

.more-info .right-content h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 35px;
}

.more-info .right-content em {
  font-style: normal;
  color: #00cfcc;
}

.more-info .right-content p {
  margin-bottom: 30px;
}
