.page-heading {
  text-align: center;
  background-image: url(src/assets/images/about.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0px 150px 0px;
  color: #fff;
}
