.services {
  margin-top: 60px;
}

.service-item {
  margin: 10px;
}

.service-item img {
  width: 100%;
  height: 370px;
  overflow: hidden;
}

.service-item .down-content {
  background-color: #f7f7f7;
  padding: 30px;
}

.service-item .down-content h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  margin-bottom: 15px;
}

.service-item .down-content p {
  margin-bottom: 20px;
}
