<div class="services">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Our<em> Services</em></h2>
          <span>We offer a variety of services suited to your MEP solution needs</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-item">
          <img ngSrc="assets/images/home-consultation.webp" alt="">
          <div class="down-content">
            <h4>Consultancy</h4>
            <p>
              We offer professional consulting services to building owners, contractors, and architects. Our experienced consultants provide expert advice on MEP systems, helping you make informed decisions and optimize your project.
            </p>
            <a routerLink="/services" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-item">
          <img ngSrc="assets/images/home-design.webp" alt="">
          <div class="down-content">
            <h4>Design</h4>
            <p>We provide expert guidance in designing MEP systems that are tailored to your specific requirements. Our focus is on creating efficient and cost-effective solutions that enhance the comfort and functionality of your building.</p>
            <a routerLink="/services" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-item">
          <img ngSrc="assets/images/about.webp" alt="">
          <div class="down-content">
            <h4>Installation</h4>
            <p>With our in-depth knowledge of mechanical, electrical, and plumbing systems, we can handle the installation of various components, including HVAC systems, electrical wiring, plumbing fixtures, fire-fighting equipment, and building automation systems</p>
            <a routerLink="/services" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-item">
          <img ngSrc="assets/images/about.webp" alt="">
          <div class="down-content">
            <h4>Maintenance and Support</h4>
            <p>Our team provides regular preventive maintenance services to minimize downtime and extend the lifespan of your MEP systems. We conduct thorough inspections, testing, and cleaning to identify and address potential issues before they become major problems</p>
            <a routerLink="/services" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
