<div class="single-services" *ngFor="let service of services">
  <div class="more-info about-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6 align-top">
                <div class="right-content">
                  <h2><em>{{service.service}}</em></h2>
                  <p>{{service.description}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="left-image">
                  <img [src]="service.image" [alt]="service.description">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="rounded">
</div>
