<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text" id="top">
  <div class="Modern-Slider">
    <!-- Item -->
    <div class="item item-1">
      <div class="img-fill">
        <div class="text-content">
          <h6>Engineering Solutions To Drive You Forward</h6>
          <p>
            Unlock the full potential of your building with our comprehensive MEP solutions.
            From mechanical and electrical systems to plumbing and building control,
            we specialize in designing and managing MEP systems that optimize functionality and efficiency.
            With our expertise, your building will be equipped with a well-designed infrastructure that ensures comfort and performance.
            Experience the difference of our MEP solutions today.
          </p>
          <a routerLink="/contact" class="filled-button">contact us</a>
        </div>
      </div>
    </div>
    <!-- // Item -->
    <!-- Item -->
    <div class="item item-2">
      <div class="img-fill">
        <div class="text-content">
          <h6>Integrate your business with Automated MEP Solutions</h6>
          <p>Revolutionize your MEP systems with our cutting-edge automation solutions.
            Our team of experts provides comprehensive MEP services that are tailored to your unique needs.
            From design to installation, we use the latest technology to optimize your systems and maximize efficiency.
            Experience the power of automation with us today.
          </p>
          <a routerLink="/services" class="filled-button">our services</a>
        </div>
      </div>
    </div>
    <!-- // Item -->
    <!-- Item -->
    <div class="item item-3">
      <div class="img-fill">
        <div class="text-content">
          <h6>we have a solid background</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum vestibulum orci, vel tincidunt lorem laoreet eget. Vestibulum ac ligula ac sapien pretium fermentum vitae nec quam. Nunc volutpat turpis leo. Integer ornare nisi tortor, quis tempus ligula viverra eget. Quisque non turpis urna</p>
          <a href="about.html" class="filled-button">learn more</a>
        </div>
      </div>
    </div>
    <!-- // Item -->
  </div>
</div>
