<div class="more-info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="more-info-content">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img src="assets/images/home-about.jpg" alt="">
              </div>
            </div>
            <div class="col-md-6 align-self-center">
              <div class="right-content">
                <span>Who we are</span>
                <h2>Get to know about <em>our company</em></h2>
                <p>We are a systems integration firm based in Kenya and East Africa and were established in 2011. We are devoted to making the lives of our clients simpler by providing them with an extensive range of products, solutions, and services.
                  Here at Premier Omni, our focus is on finding and implementing innovative ways to perform Mechanical, Electrical and Plumbing(MEP) systems integration, which has earned us a reputation as one of the most respected firms in the region.
                  Premier Omni Ltd serves a diverse range of clients who were impressed with our company's commitment to providing high-quality products, solutions, and services.</p>
                <a routerLink="/about" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
