<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>What they say <em>about us</em></h2>
          <span>testimonials from our greatest clients</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-testimonials owl-carousel">

          <div class="testimonial-item">
            <div class="inner-content">
              <h4>Keith Mutuku</h4>
              <span>CEO Mutuku's</span>
              <p>"Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem sit amet quam. Pellentesque in sagittis lacus."</p>
            </div>
            <img src="http://placehold.it/60x60" alt="">
          </div>

          <div class="testimonial-item">
            <div class="inner-content">
              <h4>John Gitonga</h4>
              <span>Data Analyst</span>
              <p>"In eget leo ante. Sed nibh leo, laoreet accumsan euismod quis, scelerisque a nunc. Mauris accumsan, arcu id ornare malesuada, est nulla luctus nisi."</p>
            </div>
            <img src="http://placehold.it/60x60" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
