/* You can add global styles to this file, and also import other style files */
@import url(src/assets/css/fontawesome.css);
@import url(node_modules/ngx-toastr/toastr.css);

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 0px;
  font-size: 14px;
  color: #666666;
  line-height: 30px;
}
a {
  text-decoration: none!important;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

a.filled-button {
  background-color: #00cfcc;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
}

a.filled-button:hover {
  background-color: cyan;
  color: #a4c639;
}

a.border-button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 28px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
}

a.border-button:hover {
  background-color: #fff;
  color: #a4c639;
}

.section-heading {
  text-align: center;
  margin-bottom: 80px;
}

.section-heading h2 {
  font-size: 36px;
  font-weight: 600;
  color: #1e1e1e;
}

.section-heading em {
  font-style: normal;
  color: #00cfcc;
}

.section-heading span {
  display: block;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  color: #666;
  letter-spacing: 1px;
}

#preloader {
  overflow: hidden;
  background: #a4c639;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



.page-heading h1 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 18px;
}

.page-heading span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  display: block;
}

/* Rounded border */
hr.rounded {
  margin-top: 45px;
  border-top: 1px solid #bbb;
  border-radius: 2px;
}

.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Grid1k {
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

.blocks-box,
.slick-slider {
  margin: 0;
  padding: 0!important;
}

.slick-slide {
  float: left;
  padding: 0;
}

.Modern-Slider .item .img-fill {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height:95vh;
}

.Modern-Slider .NextArrow{
  position:absolute;
  top:50%;
  right:30px;
  border:0 none;
  background-color: transparent;
  text-align:center;
  font-size: 36px;
  font-family: 'FontAwesome';
  color:#FFF;
  z-index:5;
  outline: none;
  cursor: pointer;
}

.Modern-Slider .NextArrow:before{
  content:'\f105';
}

.Modern-Slider .PrevArrow {
  position:absolute;
  top:50%;
  left:30px;
  border:0 none;
  background-color: transparent;
  text-align:center;
  font-size: 36px;
  font-family: 'FontAwesome';
  color:#FFF;
  z-index:5;
  outline: none;
  cursor: pointer;
}

.Modern-Slider .PrevArrow:before{
  content:'\f104';
}

ul.slick-dots {
  display: none!important;
}

.Modern-Slider .text-content {
  text-align: left;
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Modern-Slider .item h6 {
  margin-bottom: 15px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color:#a4c639;
  animation:fadeOutRight 1s both;
}

.Modern-Slider .item h4 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color:#FFF;
  overflow:hidden;
  animation:fadeOutLeft 1s both;
}

.Modern-Slider .item p {
  max-width: 570px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}

.Modern-Slider .item a {
  margin: 0 5px;
}

.Modern-Slider .item.slick-active h6{
  animation:fadeInDown 1s both 1s;
}

.Modern-Slider .item.slick-active h4{
  animation:fadeInLeft 1s both 1.5s;
}

.Modern-Slider .item.slick-active{
  animation:Slick-FastSwipeIn 1s both;
}

.Modern-Slider .buttons {
  position: relative;
}

.Modern-Slider {background:#000;}

.more-info {
  margin-top: 60px;
}

.more-info .left-image img {
  width: 100%;
  overflow: hidden;
}

.more-info .more-info-content {
  background-color: #f7f7f7;
}

.about-info .more-info-content {
  background-color: transparent;
}

.about-info .right-content {
  padding: 0px!important;
  margin-right: 30px;
}

.more-info .right-content {
  padding: 45px 45px 45px 30px;
}

.more-info .right-content span {
  text-transform: uppercase;
  font-size: 15px;
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}

.more-info .right-content h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 35px;
}

.more-info .right-content em {
  font-style: normal;
  color: #00cfcc;
}

.more-info .right-content p {
  margin-bottom: 16px;
}


/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}

/* Responsive Style */
@media (max-width: 768px) {
  .sub-header {
    display: none;
  }

  .Modern-Slider .item {
    margin-top: 30px;
    height: auto;
  }

  .Modern-Slider .item h6 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .Modern-Slider .item h4 {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 1px;
  }
  .Modern-Slider .item p {
    max-width: 570px;
    line-height: 15px;
    margin-bottom: 40px;
  }
  .Modern-Slider .NextArrow{
    right:5px;
  }
  .Modern-Slider .PrevArrow {
    left:5px;
  }
  .request-form {
    text-align: center;
  }
  .request-form a.border-button {
    float: none;
    margin-top: 30px;
  }
  .services .service-item {
    margin-bottom: 30px;
  }
  .fun-facts .left-content {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .more-info .right-content  {
    padding: 30px;
  }
  footer {
    padding: 80px 0px 20px 0px;
  }
  footer .footer-item {
    border-bottom: 1px solid #343434;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  footer .last-item {
    border-bottom: none;
  }
  .about-info .right-content {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .team .team-item {
    margin-bottom: 30px;
  }
  .tabs-content {
    margin-left: 0px;
    margin-top: 30px;
  }
  .contact-item {
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    position: absolute;
    left: 30px;
    top: 10px;
  }
  .navbar .navbar-brand {
    width: auto;
  }
  .navbar:after {
    display: none;
  }
  #navbarResponsive {
    z-index: 99999;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  }
  .navbar .navbar-nav .nav-item {
    border-bottom: 1px solid #eee;
  }
  .navbar .navbar-nav .nav-item:last-child {
    border-bottom: none;
  }
  .navbar .navbar-nav a.nav-link {
    padding: 15px 0px;
    color: #1e1e1e!important;
  }
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .active>.nav-link,
  .navbar .navbar-nav .nav-link.current,
  .navbar .navbar-nav .nav-link.show,
  .navbar .navbar-nav .show>.nav-link {
    color: #a4c639!important;
    border-bottom: none!important;
  }
}
